.topnav {
  overflow: hidden;
  background-color: black;
position:relative;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
  font-size: 20px;
}

.active {
  background-color: red;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 20px;    
  border: none;
  outline: none;
  color: white;
  padding: 16px 18px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
.head{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 20px;
}
.flexb {
    border: 3px solid rosybrown;
    border-radius: 10px;
    border-width: 8px;
    padding: 2px;
    
  }
  
  .img2 {
    float: right;
    padding-bottom: 15px;
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  .para{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: larger;
      padding-top: 50px;
  }
  .heading{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 50px;
  }
  .faq{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      text-align: center;
  }
 
  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 350px;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 goldenrod;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 350px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color:papayawhip;
    color: black;
  }
  
  .flip-card-back {
    background-color:seagreen;
    color:navajowhite ;
    transform: rotateY(180deg);
  }
  .container {
    padding: 2px 16px;

  }
.ans{
    padding-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: bolder;
}

.column {
  width: 33%;
  padding: 0 15px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.tag{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: xx-large;
  font-weight: bolder;
  padding-bottom: 50px;
}
.h4{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;

}
.h{
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
  font-weight: bolder;
}
.card-text{
  padding-top: 50px;
  padding-left: 100px;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  
}
.footer {
  
  width: 100%;
  background-color: black;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: x-large;
  
}